.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #003b95; 
}

.navbar-brand span {
    color: #ffffff; /* Texto blanco para destacar sobre el fondo azul */
    font-weight: bold;
}

main {
    margin-top: 80px;
    padding: 1rem;
}

.btn-primary {
    background-color: #004fc7; 
    border-color: #004fc7;
}

.btn-primary:hover {
    background-color: #003b95; 
    border-color: #003b95;
}

.btn-outline-secondary {
    border-color: #ffffff; 
    color: #ffffff;
}

.btn-outline-secondary:hover {
    background-color: #ffffff;
    color: #003b95; 
}

.navbar .d-flex.flex-column {
    text-align: center;
}

.navbar .text-white {
    color: #ffffff;
}

.navbar .text-white:hover {
    text-decoration: underline;
}

.navbar .rounded-circle {
    cursor: pointer; /* Cambiar el puntero a "pointer" cuando el mouse está sobre el div */
    text-decoration: none; /* Asegurarse de que no se subraye el texto */
}

.navbar .rounded-circle p,
.navbar .rounded-circle span {
    text-decoration: none; /* Desactivar cualquier subrayado en los elementos internos */
    margin: 0; /* Asegurarnos de que no haya márgenes adicionales que causen un comportamiento inesperado */
}